
@{
    ViewBag.Title = "AllMovies";
}

<h2>AllMovies</h2>

@{ 
    foreach (var movie in ViewBag.AvailableMovies)
    {
        <div class="all-movies-name">
            <p>@movie.MovieTitle</p>       
        </div>
        <div class="all-movies-image">
            @{
                string modifiedTitle = movie.MovieTitle.Replace(" ", "");
                modifiedTitle = modifiedTitle.Replace(":", "");
                modifiedTitle = modifiedTitle.ToLower();
                string s = "~/Content/Images/" + modifiedTitle + ".jpg";
            }
            <img src="@s" />
        </div>


    }
}
