<h2>About Me:</h2>
<h3>Thomas college, Computer Science</h3>
<div class="aboutme-container">
    <div class="introduction">
        <p>DEVELOPING this website as a project for CS355</p>
    </div>
    <div class="resume">
        
    </div>
</div>