@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my ASP.NET WebApp</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("ToRent", "Movies",  new {id=""})">
        <img src="@Url.Content("~/Content/Images/torentpopcorn.jpg")" , alt="Edit" style="width:400px;height:400px;padding-right:20px;" />
            </a>
    </div>
    <div class="col-md-4">
        Rent Our movies TODAY because you LOVE movies!
    </div>
    <div class="col-md-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium neque libero,
        ut auctor nisl mattis porttitor. Quisque facilisis ipsum vel augue aliquam, ac dictum nisi sollicitudin.
        Morbi auctor urna eget malesuada laoreet. Praesent malesuada convallis magna,
        ultricies mollis leo tempor nec. Donec pulvinar suscipit mauris
        sollicitudin rutrum. Phasellus eget lorem aliquet, tempor tortor gravida,
        tincidunt nunc. Proin sagittis dapibus ligula eu varius.

    </div>
</div>