@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my ASP.NET WebApp</h1>
</div>

<div class="row">
    <div class="col-md-4">
       Rent Our movies TODAY because you LOVE movies!
    </div>
    <div class="col-md-4">
       //
    </div>
    <div class="col-md-4">
       //
    </div>
</div>